In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

In [3]:
# Load the iris dataset
data = load_iris()

NameError: name 'load_iris' is not defined

# Convert the data to dataframe

In [ ]:
# Convert the target array to a DataFrame
target_df = pd.DataFrame(data['target'], columns=['target'])

# Shape of the dataset

In [ ]:
target_df.shape

(150, 1)

In [ ]:
# Display the first five rows of the DataFrame
target_df.head(5)

   target
0       0
1       0
2       0
3       0
4       0

In [ ]:
# Display the last five rows of the DataFrame
target_df.tail(5)

     target
145       2
146       2
147       2
148       2
149       2

In [ ]:
##Feature Names of the dataset
#target_df.['feature_names']

# Target mean, minimum, maximum, standard deviation,

In [ ]:
target_df.mean()

target    1.0
dtype: float64

In [ ]:
target_df.max()

target    2
dtype: int64

In [ ]:
target_df.min()

target    0
dtype: int64

In [ ]:
target_df.std()

target    0.819232
dtype: float64

In [ ]:
target_df.median()

target    1.0
dtype: float64

# Return values

In [ ]:
target_df.dataframe()

AttributeError: 'DataFrame' object has no attribute 'dataframe'